.AddItem{
    overflow: hidden !important;
}

.submit{
    margin-left:85% !important;
}

button{
    background-color:#B06407;
    outline: none;
    margin-right: 20px;
    float: right;
}

#message, #warning{
    margin-left:75px !important;
    width:fit-content;
}