mat-card{
  margin-left:35px !important;
  margin-bottom:35px !important;
  width:300px !important;
}

img{
  height:150px !important;
}

mat-card-title{
    text-align: center;
}

.menu-display{
    margin-top:30px !important;
    height:450px !important;
    overflow-y: auto !important;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.card-buttons{
  width:50px !important;
  margin-left:150px !important;
  margin-top:-45px !important;
}

button{
  outline: none !important;
}

.cart-section{
  margin-left:15px !important;
  width:98% !important;
  margin-top:30px !important;
}

.fa-times-circle {
  color: red;
}

#grand_total{  
  margin-left:65%;
  margin-top:30px !important;
  font-size:15px;
  font-weight: 900;
  color: green;
  
}

.cart-buttons{
  display: inline;
  margin-left:60%;
}

.cancel-button, .done-button{
  margin-left:20px;
}

table th{
  background-color: rgb(167, 103, 7) !important;
  color:gainsboro;
  font-size:1em !important;
}

input{
width:50% !important;
border-color:transparent !important;
outline-color: #b9b4b4;
padding:5px;
}

.mat-elevation-z8{
  margin-left:10px;
  margin-top:30px;
  width:95%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

 opacity: 1;

}
