<mat-toolbar>
    <div class="col-md-8 text-left">
      <h1>MusiCafe</h1> 
    </div>
      <a mat-button routerLink='/home' routerLinkActive="active"><span class="fa fa-lg fa-home">Home</span></a>
      <a mat-button routerLink='/menu' routerLinkActive="active" ><span class="fa fa-lg fa-list-ul">Menu</span></a>
      <a mat-button routerLink='/cart' routerLinkActive="active"><span class="fa fa-lg fa-shopping-cart">Cart</span></a>
      <a mat-button routerLink = '/stats' routerLinkActive = "active"><span class="fa fa-lg fa-bar-chart">Stats</span></a>
      <a mat-button><span class="fa fa-lg fa-sign-out">Logout</span></a>
</mat-toolbar>

  