.mat-toolbar{
  background-color:#A16E00 ;
  color:#fff;
  height: 80px;
}

h1{
  font-weight: bolder;
  font-size: xx-large;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 10px !important;
}

.active{
  background-color:#BA8002 !important;
  color:black !important;
}

a{
  color: white !important;
}