<app-header></app-header>
<div class="logo">
    <img src="../../assets/images/logo.jpg" width="380" height="350">
</div>
<div class="row description">
    <div class="col-md-3">
        <pre class="quotes">
    <b>     A GOOD DAY</b>

    starts with a positive

    <b>   ATTITUDE AND A</b>

    great cup of coffee!
        </pre>
    </div>
    <div class="vl"></div>
    <div class="col-md-8 info">
        <h2>Our coffee makes our customer feel like happy and warm like perfect rays
            of sunshine.<br>At our cafe, we want to make our customer feel relaxed
            having extraordinary coffee experience and <br>enjoying the menu of MusiCafe.
        </h2>
    </div>
</div>