<app-header></app-header>
<div class="row main_div">
  <!--Left Navbar starts here-->
  <mat-expansion-panel class="left-nav" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Categories
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list>
      <a mat-list-item role="button" (click)="pass_data('Coffee')"> Coffee </a>
      <a mat-list-item role="button" (click)="pass_data('Cake')"> Cakes </a>
      <a mat-list-item role="button" (click)="pass_data('Juice')"> Juice </a>
      <a mat-list-item role="button" (click)="pass_data('Ice-cream')"> Ice Cream </a>
      <a mat-list-item role="button" (click)="pass_data('Snacks')"> Snacks </a>
    </mat-nav-list>
  </mat-expansion-panel>
  <!--Left Navbar ends here-->

  <!--Menu starts here-->
  <div class="menu" *ngIf="this.items && this.selected_item != 'add-item'">
    <div class="row" [hidden] = "selected_item == 'add-item'">
      <!--SearchBar-->
      <div class = "searchbar">
        <mat-form-field class="example-full-width">
          <mat-label>Search Item</mat-label>
          <input matInput>
        </mat-form-field>
        <button mat-raised-button color = "primary"><i class="fa fa-search"></i> Search Item</button>
    </div>
      <button mat-raised-button color="primary"  class="add-button" (click) = "pop_data('add-item',0)"><i class="fa fa-plus-square"></i> Add Item</button>
    </div>

    <div class = "scroll row">
      <mat-card class="col-md-3 example-card" role="button" *ngFor="let item of items">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title class="text-center">{{item.item_name | titlecase}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src = "http://localhost:5000/images/{{item.item_image}}" alt="item.item_name">
        <mat-card-content>
          <p class="text-left"><b>Price : {{item.item_price}}/-</b></p>
          <div class="card-buttons">
            <button mat-button class="text-success" (click)="pop_data('edit-item',item)"><i class="fa fa-pencil"></i>
              Edit</button>
            <button mat-button class="text-danger" (click) = "pop_data('delete-item',item)"><i class="fa fa-trash-o"></i> Delete</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <!--Menu ends here-->
  
  <!--Spinner-->
  <div class="offset-3" *ngIf="!items && this.selected_item">
    <mat-spinner></mat-spinner>
  </div>

</div>
