<div class="row">
  <mat-expansion-panel class="left-nav" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Menu
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list>
      <a mat-list-item role="button" (click)="pass_data('Coffee')"> Coffee </a>
      <a mat-list-item role="button" (click)="pass_data('Cake')"> Cakes </a>
      <a mat-list-item role="button" (click)="pass_data('Juice')"> Juice </a>
      <a mat-list-item role="button" (click)="pass_data('Ice-cream')"> Ice Cream </a>
      <a mat-list-item role="button" (click)="pass_data('Snacks')"> Snacks </a>
      <a mat-list-item role="button" (click)="pass_data('add-item')"> Add Item </a>
      <a mat-list-item role="button" (click)="pass_data('edit-item')"> Edit Item </a>
      <a mat-list-item role="button" (click)="pass_data('delete-item')"> Delete Item </a>
    </mat-nav-list>
  </mat-expansion-panel>

  <div class="scroll col-md-9" *ngIf="this.selected_item == 'Coffee'">
    <div class="row">
      <mat-card class="col-md-3 example-card" role="button" *ngFor="let item of items">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title class="text-center">{{item.item_name | titlecase}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]='item.item_image' alt="item.item_name">
        <mat-card-content>
          <p class="text-right"><b>Price : {{item.item_price}}/-</b></p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="scroll col-md-9" *ngIf="this.selected_item == 'Cake'">
    <div class="row">
      <mat-card class="col-md-3 example-card" role="button" *ngFor="let item of items">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title class="text-center">{{item.item_name | titlecase}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]='item.item_image' alt="item.item_name">
        <mat-card-content>
          <p class="text-right"><b>Price : {{item.item_price}}/-</b></p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="scroll col-md-9" *ngIf="this.selected_item == 'Juice'">
    <div class="row">
      <mat-card class="col-md-3 example-card" role="button" *ngFor="let item of items">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title class="text-center">{{item.item_name | titlecase}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]='item.item_image' alt="item.item_name">
        <mat-card-content>
          <p class="text-right"><b>Price : {{item.item_price}}/-</b></p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="scroll col-md-9" *ngIf="this.selected_item == 'Snacks'">
    <div class="row">
      <mat-card class="col-md-3 example-card" role="button" *ngFor="let item of items">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title class="text-center">{{item.item_name | titlecase}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]='item.item_image' alt="item.item_name">
        <mat-card-content>
          <p class="text-right"><b>Price : {{item.item_price}}/-</b></p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="scroll col-md-9" *ngIf="this.selected_item == 'Ice-cream'">
    <div class="row">
      <mat-card class="col-md-3 example-card" role="button" *ngFor="let item of items">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title class="text-center">{{item.item_name | titlecase}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]='item.item_image' alt="item.item_name">
        <mat-card-content>
          <p class="text-right"><b>Price : {{item.item_price}}/-</b></p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>