<div class="bg-img1">
    <img src="../../assets/images/bg.jpeg">
    <div class="cont">
        <form class="form-horizontal">
            <br><label>Username:</label><input type="text" class="form-control" [(ngModel)]="username" name="username"
                placeholder="Enter username"><br>
            <label>Password</label><input type="password" class="form-control" [(ngModel)]="password" name="password"
                placeholder="Enter password"><br>
            <div class="col-sm-offset-9">
                <button type="submit" class="btn btn-primary" (click)="login_validate()">Login</button>
            </div>
        </form>
    </div>
</div>
