<div class="bg-img1">
    <img src="../../assets/images/WhatsApp Image 2020-10-05 at 11.33.51 AM.jpeg">
    <div class="cont">
        <form class="form-horizontal">
            <br>Username:<input type="text" class="form-control" [(ngModel)]="username" name="username"
                placeholder="Enter username"><br>
            Password:<input type="password" class="form-control" [(ngModel)]="password" name="password"
                placeholder="Enter password"><br>
            <div class="col-sm-offset-9">
                <button type="submit" class="btn btn-primary" (click)="login_validate()">Login</button>
            </div>
        </form>
    </div>
</div>
